{
  "branches": ["master", "dev"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    {
      "path": "@semantic-release/exec",
      "prepareCmd": "jq '.version = \"${nextRelease.version}\"' package.json > package.json.temp && mv package.json.temp package.json"
    },
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "package.json"],
        "message": "chore(release): set `package.json` to ${nextRelease.version} \n\n${nextRelease.notes}"
      }
    ]
  ]
}
