module.exports = {
    token: "sex",

    // Servers u want the bot to not catch anything in
    blacklistedServers: [
        "ServerNameOrID1",
        "ServerNameOrID2",
        "ServerNameOrID3"
    ],

    // Servers u want the bot to only catch there
    // This shit will be disabled if nothing in the list
    whitelistedServers: [
        "ServerNameOrID1",
        "ServerNameOrID2",
        "ServerNameOrID3"
    ],

    // the Server u want the bot to send a message every hour to
    // This shit will be disabled if nothing in the list
    farmServers: [
        "ServerNameOrID1",
        "ServerNameOrID2",
        "ServerNameOrID3"
    ],

    // this field is used to get a channel from the farm servers using name (it will use the first channel if not provided)
    farmChannelName: 'general',
    // this message would be sent in the set interval to all the farm servers
    farmMessage: 'spawn',
    // this cooldown is enforced after each message in guilds so the bot wouldn't get ratelimited (miliseconds)
    farmCooldown: [7000, 9000],
    // time to sleep after sending a message to all of the servers (miliseconds)
    farmSleepTime: [300000, 360000],

    // Extra wait time for clicking the button on ballsdex balls
    timeout: [500, 1000],

    // Dashboard: we have a website with a dashboard that u can login using ur discord account and see all of the balls caught by u and autocatcher (still in beta)
    // the stored information is not available to public and wont be shared with anyone
    dashboard: true, // change to false for disabling it

    // Ball Counter: in our website there is a counter for all of the caught balls from all the autocatchers around the world
    // by enabling this by catching a ball the counter updates (if u have dashboard enabled this is enabled too)
    counter: true
}
